.chat-tile {
    display: flex;
    color: var(--text-secondary);
    height: 72px;
    column-gap: 10px;
    align-items: center;
}

.chat-tile:hover {
    background-color: var(--primary);
    cursor: pointer;
}

.chat-tile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0px 5px 0px 13px;
    object-fit: cover;
}

.chat-tile-details {
    width: 80%;
}

.chat-tile-title {
    display: flex;
    justify-content: space-between;
}

.chat-tile-title {
    color: var(--text-primary-strong);
    font-size: 18px;
}