:root {
    --bg-color: #111b21;
    --light-grey: #2a3942;
    --primary: #202c33;
 
    --text-primary: #d1d7db;
    --text-primary-strong: #e9edef;
    --text-secondary: #8696a0;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
}

.container_global, 
.main,
.container_main {
    display: flex;
    height: 100%;
    width: 100%;
}


